<div class="section">
  <div class="mdl-grid mdl-shadow--2dp">
    <div class="about-mdl-card mdl-card mdl-cell--12-col about">
      <h1>HOW TO REACH THE NATIONAL EMPOWERMENT FUND</h1>
      <h3>Head Office</h3>
      <h4>Gauteng Province</h4>
      <p>West Block, 187 Rivonia Road, Morningside 2057, PO Box 31, Melrose Arch, Melrose North 2076<br>
        Tel: +27 (11) 305 8000 | Fax: +27 (11) 305 8001 | Call Centre: 0861 843 633 | 0861 (THE NEF)<br>
        applications@nefcorp.co.za (Funding) | info@nefcorp.co.za (General Enquiries)</p>
      <h4>Eastern Cape Province</h4>
      <p>7b Derby Road, Berea, East London 5241<br>
        Tel: (043) 783 4200 | 0861 NEF ECP (0861 633 327) | Fax: 0861 ECP NEF (0861 327 633)<br>
        easterncape@nefcorp.co.za</p>
      <h4 class="about">Free State Province</h4>
      <p>34 Fountain Towers, Corner Zastron and Markgraaf Street, Westdene, Bloemfontein, 9300<br>
        Tel: (051) 407 6360 | 0861 NEF FSP (0861 633 377) | Fax: 0861 FSP NEF (0861 377 633)<br>
        freestate@nefcorp.co.za</p>
      <h4>KwaZulu-Natal Province</h4>
      <p>Smart X - Change Building, 5 Walnut Road, Durban, 4001<br>
        Tel: (031) 301 1960 | 0861 NEF KZN (0861 633 596) | Fax: 0861 KZN NEF (0861 596 633)<br>
        kzn@nefcorp.co.za</p>
      <h4 class="about">Limpopo Province</h4>
      <p>Suite 8, Biccard Park, 43 Biccard Street, Polokwane 0699<br>
        Tel: (015) 294 9200 | 0861 NEF LIM (0861 633 546) | Fax: 0861 LIM NEF (0861 546 633)<br>
        limpopo@nefcorp.co.za</p>
      <h4 class="about">Mpumalanga Province</h4>
      <p>Trust Building, 16 Brander Street, Nelspruit, 1200<br>
        Tel: (013) 754 9860 | 0861 NEF MPU (0861 633 678) | 013 754 9860 | Fax: 0861 MPU NEF (0861 678 633)<br>
        mpumalanga@nefcorp.co.za</p>
      <h4 class="about">North West Province</h4>
      <p>32B Heystek Street, Sunetco Office Park, Ground Floor, Rustenburg, 0299<br>
        Tel: (014) 523 9220 | 0861 NEF NWP (0861 633 697) | Fax: 0861 NWP NEF (0861 697 633)<br>
        northwest@nefcorp.co.za</p>
      <h4 class="about">Western Cape Province</h4>
      <p>Suite 2818, 28th Floor, ABSA Centre, 2 Riebeek Street, Cape Town 8001<br>
        Tel: (021) 431 4760 | 0861 NEF WCP (0861 633 927)<br>
        Fax: 0861 WCP NEF (0861 927 633) | westerncape@nefcorp.co.za</p>
    </div>
    <div class="mdl-cell--12-col fraud">
      <center>
        <p><strong>STOP Fraud, Corruption and Theft</strong><br>
          Contact Tip-Offs Anonymous on 0800 212 705 or email nef@tip-offs.com<br>
          If you suspect any irregularity in the application process
        </p>
      </center>
    </div>
    <div class="mdl-cell--12-col">
      <center>
        <img src="../images/nea.png" alt="National Empowerment Act" />
        <p><small>National Empowerment Fund Trust (established by Act 105 of 1998) IT: 10145/00.</small><br>
          <small>A member of the dti group | www.nefcorp.co.za | www.nefbusinessplanner.co.za</small>
        </p>
      </center>
    </div>

  </div>

</div>

