<div class="section">
  <form action="save()">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--12-col group">
        <button ng-click="save()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored pull-right">
          <i class="material-icons">save</i>
        </button>
      </div>
      <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp group">
        <h2 class="mdl-card__title-text">Business Details</h2>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
          <input class="mdl-textfield__input" type="text" id="nameOfBusiness">
          <label class="mdl-textfield__label" for="nameOfBusiness">Name Of Business...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
          <input class="mdl-textfield__input" type="text" id="taxClearanceNo">
          <label class="mdl-textfield__label" for="taxClearanceNo">Tax Clearance No...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
          <input class="mdl-textfield__input" type="text" id="vatNo">
          <label class="mdl-textfield__label" for="vatNo">VAT No...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
          <input class="mdl-textfield__input" type="text" id="registrationNo">
          <label class="mdl-textfield__label" for="registrationNo">Registration No...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
          <input class="mdl-textfield__input" type="text" id="industry">
          <label class="mdl-textfield__label" for="industry">Type of industry...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
          <input class="mdl-textfield__input" type="text" id="webAddress">
          <label class="mdl-textfield__label" for="webAddress">Web Address...</label>
        </div>
        <!--TODO: Add tool tip for "Clear indication of the value proposition-->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
          <input class="mdl-textfield__input" type="text" id="objective">
          <label class="mdl-textfield__label" for="objective">Business Objective...</label>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp group">
        <h2 class="mdl-card__title-text">Key Contact Person</h2>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
          <input class="mdl-textfield__input" type="text" id="keyContact">
          <label class="mdl-textfield__label" for="keyContact">Key contact person...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col" >
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="keyContactNo">
          <label class="mdl-textfield__label" for="keyContactNo">Key contact person's number...</label>
          <span class="mdl-textfield__error">Input is not a valid phone number!</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col" >
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="emailAddress">
          <label class="mdl-textfield__label" for="emailAddress">Email Address...</label>
          <span class="mdl-textfield__error">Input is not a valid email address!</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col" >
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="businessTelNo">
          <label class="mdl-textfield__label" for="businessTelNo">Business tel. number...</label>
          <span class="mdl-textfield__error">Input is not a valid phone number!</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col" >
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="businessFaxNo">
          <label class="mdl-textfield__label" for="businessTelNo">Business fax. number...</label>
          <span class="mdl-textfield__error">Input is not a valid fax number!</span>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp group mdl-grid ">

        <h2 class="mdl-card__title-text mdl-cell mdl-cell--12-col">Location</h2>
        <div class="mdl-cell mdl-cell--12-col group">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" /></th>
                <th>Street 1</th>
                <th>Street 2</th>
                <th>Street 3</th>
                <th>Suburb</th>
                <th>Postal code</th>
                <th>City</th>
                <th>Country</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="addressDetail in addressDetails">
                <td>
                  <input type="checkbox" ng-model="addressDetail.selected"/>
                </td>
                <td>
                  <input type="text" class="form-control" ng-model="addressDetail.street1" required/>
                </td>
                <td>
                  <input type="text" class="form-control" ng-model="addressDetail.street2" />
                </td>
                <td>
                  <input type="text" class="form-control" ng-model="addressDetail.street3" />
                </td>
                <td>
                  <input type="text" class="form-control" ng-model="addressDetail.suburb"  required/>
                </td>
                <td>
                  <input type="text" class="form-control" ng-model="addressDetail.city"  required/>
                </td>
                <td>
                  <input type="text" class="form-control" ng-model="addressDetail.postalcode" pattern="-?[0-9]*(\.[0-9]+)?" id="idNumber" required/>
                  <span class="mdl-textfield__error">Input is not a number!</span>
                </td>
                <td>
                  <input class="form-control" ng-model="addressDetail.country" required/>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="button-group">
            <button ng-click="remove()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored pull-right">
              <i class="material-icons">remove</i>
            </button>
            <button ng-click="addNew()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored pull-right">
              <i class="material-icons">add</i>
            </button>
          </div>
        </div>

      </div>
    </div>



  </form>
</div>