<div class="section">
  <form action="#">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp group">
        <h2 class="mdl-card__title-text">Business Details</h2>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
          <input class="mdl-textfield__input" type="text" id="nameOfBusiness">
          <label class="mdl-textfield__label" for="nameOfBusiness">Name Of Business...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
          <input class="mdl-textfield__input" type="text" id="taxClearanceNo">
          <label class="mdl-textfield__label" for="taxClearanceNo">Tax Clearance No...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
          <input class="mdl-textfield__input" type="text" id="vatNo">
          <label class="mdl-textfield__label" for="vatNo">VAT No...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
          <input class="mdl-textfield__input" type="text" id="registrationNo">
          <label class="mdl-textfield__label" for="registrationNo">Registration No...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
          <input class="mdl-textfield__input" type="text" id="industry">
          <label class="mdl-textfield__label" for="industry">Type of industry...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
          <input class="mdl-textfield__input" type="text" id="webAddress">
          <label class="mdl-textfield__label" for="webAddress">Web Address...</label>
        </div>
        <!--TODO: Add tool tip for "Clear indication of the value proposition-->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
          <input class="mdl-textfield__input" type="text" id="objective">
          <label class="mdl-textfield__label" for="objective">Business Objective...</label>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--6-col mdl-shadow--2dp group">
        <h2 class="mdl-card__title-text">Key Contact Person</h2>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
          <input class="mdl-textfield__input" type="text" id="keyContact">
          <label class="mdl-textfield__label" for="keyContact">Key contact person...</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col" >
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="keyContactNo">
          <label class="mdl-textfield__label" for="keyContactNo">Key contact person's number...</label>
          <span class="mdl-textfield__error">Input is not a valid phone number!</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col" >
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="emailAddress">
          <label class="mdl-textfield__label" for="emailAddress">Email Address...</label>
          <span class="mdl-textfield__error">Input is not a valid email address!</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col" >
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="businessTelNo">
          <label class="mdl-textfield__label" for="businessTelNo">Business tel. number...</label>
          <span class="mdl-textfield__error">Input is not a valid phone number!</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col" >
          <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="businessFaxNo">
          <label class="mdl-textfield__label" for="businessTelNo">Business fax. number...</label>
          <span class="mdl-textfield__error">Input is not a valid fax number!</span>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp group">
        <h2 class="mdl-card__title-text">Location</h2>
        <div class="mdl-cell mdl-cell--6-col group">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
            <input class="mdl-textfield__input" type="text" id="Street1">
            <label class="mdl-textfield__label" for="Street1">Street 1...</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
            <input class="mdl-textfield__input" type="text" id="Street2">
            <label class="mdl-textfield__label" for="Street2">Street 2...</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
            <input class="mdl-textfield__input" type="text" id="suburb">
            <label class="mdl-textfield__label" for="suburb">Suburb...</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
            <input class="mdl-textfield__input" type="text" id="city">
            <label class="mdl-textfield__label" for="city">City...</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--3-col">
            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="code">
            <label class="mdl-textfield__label" for="code">Postal Code...</label>
          </div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--8-col">
            <input class="mdl-textfield__input" type="text" id="country">
            <label class="mdl-textfield__label" for="country">Country...</label>
          </div>
        </div>

      </div>
    </div>



  </form>
</div>