<div class="section">
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label formCell" >
  <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="financeRequired">
  <label class="mdl-textfield__label" for="financeRequired">Finance Required (Rands)...</label>
  <span class="mdl-textfield__error">Input is not a valid amount!</span>
</div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label formCell" >
  <input class="mdl-textfield__input" type="text" id="financeApplied">
  <label class="mdl-textfield__label" for="financeApplied">How will the funds be applied...</label>
</div>
</div>
